<footer class="page-footer fixed-footer" id="footer">
    <ul>
        <li class="active">
            <a href="?m=home&c=index&a=index">
                <img src="/Public/images/footer01.png"/>
                <p>首页</p>
            </a>
        </li>
        <li>
            <a href="">
                <img src="/Public/images/footer002.png"/>
                <p>商家</p>
            </a>
        </li>
        <li>
            <a href="?m=home&c=index&a=self">
                <img src="/Public/images/footer003.png"/>
                <p>个人中心</p>
            </a>
        </li>
        <li>
            <a href="">
                <img src="/Public/images/footer004.png"/>
                <p>更多</p>
            </a>
        </li>
    </ul>
</footer>