<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>汽车服务号</title>
    <link rel="stylesheet" type="text/css" href="Public/css/loaders.min.css"/>
    <link rel="stylesheet" type="text/css" href="Public/css/loading.css"/>
    <link rel="stylesheet" type="text/css" href="Public/css/base.css"/>
    <link rel="stylesheet" type="text/css" href="Public/css/style.css"/>
    <script src="Public/js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript">
        $(window).load(function(){
            $(".loading").addClass("loader-chanage")
            $(".loading").fadeOut(300)
        })
    </script>
</head>
<!--loading页开始-->
<div class="loading">
    <div class="loader">
        <div class="loader-inner pacman">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
</div>
<!--loading页结束-->
<body>
<header class="top-header fixed-header" style="background-color: #4394db;">
    <a class="icona" href="javascript:history.go(-1)" style="color: white;">
        <img src="Public/images/left.png"/>
    </a>
    <h3 style="color: white">发现</h3>
    <a class="iconb" href="shopcar.html">
        <img src="Public/images/search.png"/>
    </a>
</header>

<div class="contaniner fixed-conta">
    <section class="order">
        <dl>
            <ul>
                <a href="detail.html">
                    <figure><img src="Public/images/classify-ph03.jpg"/></figure>
                    <li>
                        <p>1宝马i8纯电动版车型将会使用三个电动机来驱动汽车</p>
                        <small>汽车之家</small>
                    </li>
                </a>
            </ul>
            <ul>
                <a href="detail.html">
                    <figure><img src="Public/images/classify-ph03.jpg"/></figure>
                    <li>
                        <p>2宝马i8纯电动版车型将会使用三个电动机来驱动汽车</p>
                        <small>汽车之家</small>
                    </li>
                </a>
            </ul>
            <ul>
                <a href="detail.html">
                    <figure><img src="Public/images/classify-ph03.jpg"/></figure>
                    <li>
                        <p>3宝马i8纯电动版车型将会使用三个电动机来驱动汽车</p>
                        <small>汽车之家</small>
                    </li>
                </a>
            </ul>
            <ul>
                <a href="detail.html">
                    <figure><img src="Public/images/classify-ph03.jpg"/></figure>
                    <li>
                        <p>4宝马i8纯电动版车型将会使用三个电动机来驱动汽车</p>
                        <small>汽车之家</small>
                    </li>
                </a>
            </ul>
            <ul>
                <a href="detail.html">
                    <figure><img src="Public/images/classify-ph03.jpg"/></figure>
                    <li>
                        <p>5宝马i8纯电动版车型将会使用三个电动机来驱动汽车</p>
                        <small>汽车之家</small>
                    </li>
                </a>
            </ul>
            <ul>
                <a href="detail.html">
                    <figure><img src="Public/images/classify-ph03.jpg"/></figure>
                    <li>
                        <p>6宝马i8纯电动版车型将会使用三个电动机来驱动汽车</p>
                        <small>汽车之家</small>
                    </li>
                </a>
            </ul>
            <ul>
                <a href="detail.html">
                    <figure><img src="Public/images/classify-ph03.jpg"/></figure>
                    <li>
                        <p>7宝马i8纯电动版车型将会使用三个电动机来驱动汽车</p>
                        <small>汽车之家</small>
                    </li>
                </a>
            </ul>
            <ul>
                <a href="detail.html">
                    <figure><img src="Public/images/classify-ph03.jpg"/></figure>
                    <li>
                        <p>8宝马i8纯电动版车型将会使用三个电动机来驱动汽车</p>
                        <small>汽车之家</small>
                    </li>
                </a>
            </ul>
            <ul>
                <a href="detail.html">
                    <figure><img src="Public/images/classify-ph03.jpg"/></figure>
                    <li>
                        <p>9宝马i8纯电动版车型将会使用三个电动机来驱动汽车</p>
                        <small>汽车之家</small>
                    </li>
                </a>
            </ul>
            <ul>
                <a href="detail.html">
                    <figure><img src="Public/images/classify-ph03.jpg"/></figure>
                    <li>
                        <p>10宝马i8纯电动版车型将会使用三个电动机来驱动汽车</p>
                        <small>汽车之家</small>
                    </li>
                </a>
            </ul>
            <ul>
                <div style="margin-bottom: 20%"> . . . </div>
            </ul>
        </dl>
    </section>
</div>

<include file="Public/footer" />

</body>
</html>