<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>个人中心</title>
    <link rel="stylesheet" type="text/css" href="Public/css/loaders.min.css"/>
    <link rel="stylesheet" type="text/css" href="Public/css/loading.css"/>
	<script src="Public/js/rem.js"></script>
	<link href="Public/iconfont/iconfont.css" rel="stylesheet">
	<link rel="stylesheet" href="Public/css/mui.min.css" >
	<link href="Public/css/all.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="Public/css/base.css"/>
    <link rel="stylesheet" type="text/css" href="Public/css/style.css"/>
      <script src="Public/js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript">
    	$(window).load(function(){
    		$(".loading").addClass("loader-chanage")
    		$(".loading").fadeOut(300)
    	})
    </script>
</head>
<body>
<header class="mui-bar mui-bar-nav" id="header" style="position: relative;">
	<div class="flex-col">
		<a class="btn btn-back" href="javascript:;"></a>
	</div>
	<div class="flex-col">
		<label style="color: white; font-size: large">个人中心</label>
	</div>
	<a class="btn" href="">
		<i class="iconfont icon-tixing"></i>
	</a>
	<a class="btn" href="shopcar.html">
		<i class="iconfont icon-cart"></i>
	</a>
</header>

<div id="main" class="mui-clearfix">
	<div class="mui-content">
		<div class="p-top">
			<a href="personal.html">
				<div class="tu">
					<img src="Public/img/touxiang.png"/>
				</div>
				<p class="name">Test</p>
			</a>
			<div class="p-bottom p-bottom1 clearfloat">
				<ul class="clearfloat">
					<div class="fastion-plist mui-row">
						<a href="fx-center1.html">
							<li class="box-s" style="width: 50%;height: 4.5em;">
								<span class="opa6"></span>
								<p class="bt">我的资产</p>
								<p class="price">0.00</p>
							</li>
						</a>

						<a href="#">
							<li class="box-s" style="width: 50%;height: 4.5em;">
								<span class="opa6"></span>
								<p class="bt">我的收藏</p>
								<p class="price">0</p>
							</li>
						</a>
					</div>
				</ul>
			</div>
		</div>

		<div class="contaniner fixed-contb">
			<section class="self">
				<dl>
					<dt style="width: 100%;">
						<a href="order.html">
							<img src="Public/images/self-icon.png"/>
							<b>全部订单</b>
							<span><img src="Public/images/right.png"/></span>
						</a>
					</dt>
					<dd>
							<ul>
								<li>
									<a href="ordertwo.html">
										<img src="Public/images/order-icon01.png"/>
										<p>待发货</p>
									</a>
								</li>
								<li>
									<a href="orderthree.html">
										<img src="Public/images/order-icon03.png"/>
										<p>待付款</p>
									</a>
								</li>
								<li>
									<a href="orderfour.html">
										<img src="Public/images/order-icon02.png"/>
										<p>待收货</p>
									</a>
								</li>
								<li>
									<a href="go-assess.html">
										<img src="Public/images/order-icon04.png"/>
										<p>待评价</p>
									</a>
								</li>
							</ul>
					</dd>
				</dl>

				<ul class="self-icon">
					<li style="width: 100%;">
						<a href="datum.html">
							<img src="Public/images/self-icon01.png"/>
							<p>个人信息</p>
							<span><img src="Public/images/right.png"/></span>
						</a>
					</li>
					<li style="width: 100%;">
						<a href="mycollect.html">
							<img src="Public/images/self-icon02.png"/>
							<p>我的收藏</p>
							<span><img src="Public/images/right.png"/></span>
						</a>
					</li>
					<li style="width: 100%;">
						<a href="balance.html">
							<img src="Public/images/self-icon012.png"/>
							<p>消费记录</p>
							<span><img src="Public/images/right.png"/></span>
						</a>
					</li>
					<li style="width: 100%;">
						<a href="addres.html">
							<img src="Public/images/self-icon04.png"/>
							<p>地址管理</p>
							<span><img src="Public/images/right.png"/></span>
						</a>
					</li>
				</ul>

				<a href="login.html"><input type="button" value="注销" /></a>

			</section>

		</div>
	</div>
</div>

	<include file="Public/footer" />

</body>
</html>